* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
}

.heading {
    font-size: 3rem;
}

.startsolver {
    font-size: 2em;
    margin: 38vh 0;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.active {
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
}

.numbers {
    padding-top: 5vh;
}

.numbers > p {
    padding-top: 2vh;
    flex: 1;
    border: 2px solid black;
    width: 3vw;
    height: 3vw;
    font-size: 4vh;
    border-radius: 20%;
    margin: 5px 0px 5px 50px;
    text-align: center;
}


.board {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 41vw;
    height: 41vw;
}

.square {
    padding-top: 1vh;
    width: 4vw;
    height: 4vw;
    font-size: 4vh;
    margin: 0;
    border: 1px solid black;
    text-align: center;
    
}

.borderBottom {
    border-bottom: 4px solid black;
}

.borderRight {
    border-right: 4px solid black;
}
