* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('board2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

    padding-top: 4vh;
    padding-bottom: 15vw;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
}

.heading {
    font-size: 4vw;
    margin-right: 11vw;
}

.allWarnings{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4vw;
    margin-top: 1vw;
    font-size: 2.8vw;
}


.warning1, .warning2, .warning3 {
    flex: 1;
    word-wrap: break-word;
    opacity: 0;
}

.warn1anim, .warn2anim, .warn3anim {
    animation: animate 5s forwards;
}

@keyframes animate {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:0;}
}

.startsolver {
    font-size: 2em;
    margin: 38vh 0;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

.active {
    display: flex;
    justify-content: center;

}

.numbers {
    padding-top: 1vw;
}

.numbers > p {
    padding-top: 0.5vh;
    flex: 1;
    border: 2px solid black;
    width: 3vw;
    height: 3vw;
    font-size: 3.8vh;
    border-radius: 20%;
    margin: 10px 0px 5px 50px;
    text-align: center;
}

.nums:hover {
    background-color: lightcoral;
    cursor: pointer;
}


.board {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 35vw;
    height: 35vw;
}

.square {
    padding-top: 1vh;
    width: 3.4vw;
    height: 3.4vw;
    font-size: 4vh;
    margin: 0;
    border: 1.3px solid black;
    text-align: center;
    
}

.square:hover {
    background-color: red;
    cursor: pointer;
}

.borderBottom {
    border-bottom: 4px solid black;
}

.borderRight {
    border-right: 4px solid black;
}

.borderLeft {
    border-left: 4px solid black;
}

.borderUp {
    border-top: 4px solid black;
}

.selected {
    background-color: lightsalmon;
}

.mainButtons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solver {
    font-size: 1.5vw;
    padding: 5px;
    border: 2px solid black;
    margin-bottom: 5vw;
    margin-right: 10vh;
}

.newBoard {
    font-size: 1.5vw;
    padding: 5px;
    border: 2px solid black;
    margin-right: 10vh;
}

.solver:hover, .newBoard:hover{
    cursor: pointer;
}